<config>
    <DiscordToken>BotTokenGoesHere</DiscordToken> <!-- Have the discord bot token as this value, or as an environment variable -->
    
    <ShowcaseChannelId>793838699460296714</ShowcaseChannelId> <!-- For adding a supportive reaction to the entries -->
    <ShowcaseAutoEmote>:gdhearteyes:793847681533214720</ShowcaseAutoEmote> <!-- :emoteName:number -->
    
    <RulesMessageId>793847958792699934</RulesMessageId> <!-- The message that people need to hit an emote on to "accept the rules" -->  
    <RulesAcceptedEmoteName>godot</RulesAcceptedEmoteName> <!-- The emote to "accept the rules" -->
    <RulesAcceptedRoleId>793855404512641035</RulesAcceptedRoleId>
</config>